[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matchingMarkets"]
	path = matchingMarkets
	url = https://github.com/thiloklein/matchingmarkets
